<div class="heading">Font</div>
<div class="color-wrap">
	<span ng-repeat="e in [e]" ng-include="'app/shared/inputs/colorpicker.html'"></span>
	<input type="text" ng-model="e.family" ng-blur="checkCss()" class="font">
</div>

<div class="heading">Style</div>
<div class="style-wrap">
	<label class="style-buttons bold" ng-class="{'active': e.bold}" ng-click="checkCss()">
		<input type="checkbox" class="hidden" ng-model="e.bold" ng-click="e.bold = !e.bold">Bold
	</label>
	<label class="style-buttons italic" ng-class="{'active': e.italic}" ng-click="checkCss()">
		<input type="checkbox" class="hidden" ng-model="e.italic" ng-click="e.italic = !e.italic">Italic
	</label>
	<label class="style-buttons underline" ng-class="{'active': e.underline}" ng-click="checkCss()">
		<input type="checkbox" class="hidden" ng-model="e.underline" ng-click="e.underline = !e.underline">Underline
	</label>
</div>

<div class="range-wrap">
	<span class="heading">Font Size</span>
	<input ng-model="e.size" ng-change="checkCss()" id="e.color" type="range" min="0">
	<span class="range_label">{{e.size}}</span>
</div>