<div class="heading">Font</div>
<div class="color-wrap">
	<span ng-repeat="e in [e]" ng-include="'app/shared/inputs/colorpicker.html'"></span>
	<input type="text" ng-model="e.family" ng-blur="checkCss()" class="font">
</div>

<div class="heading">Align</div>
<div class="styled-select">
	<select ng-model="e.align" ng-change="checkCss()">
		<option value="left">Left</option>
		<option value="center">Center</option>
		<option value="right">Right</option>
	</select>
</div>

<div class="range-wrap">
	<span class="heading">Font Size</span>
	<input ng-model="e.size" ng-change="checkCss()" id="e.color" type="range" min="6" max="80">
	<span class="range_label">{{e.size}}</span>
</div>