<span class="heading">Position</span>
<div class="select-wrap">
	<div class="styled-select">
		<select ng-model="e.horizontal" ng-change="checkCss()">
			<option value="left">Left</option>
			<option value="center">Center</option>
			<option value="right">Right</option>
		</select>
	</div>

	<div class="styled-select">
		<select ng-model="e.vertical" ng-change="checkCss()">
			<option value="top">Top</option>
			<option value="center">Center</option>
			<option value="bottom">Bottom</option>
		</select>
	</div>
</div>