$pink: 			#e03e56;
$pink_dark: 	#A1334A;
$orange: 		#f58c3b;
$blue: 			#1d2742;
$teal: 			#25bda6;
$teal_light: 	lighten($teal, 5%);

$white: 		#fff;
$white2:		rgba(322,322,322,0.2);
$white3:		rgba(322,322,322,0.3);
$white4:		rgba(322,322,322,0.4);
$white6:		rgba(322,322,322,0.6);
$white8:		rgba(322,322,322,0.8);

$black: 		#000;
$black1:		rgba(0,0,0,0.1);
$black2:		rgba(0,0,0,0.2);
$black3:		rgba(0,0,0,0.3);
$black4:		rgba(0,0,0,0.4);
$black6:		rgba(0,0,0,0.6);
$black8:		rgba(0,0,0,0.8);


$gray_light: 	#eee;
$gray: 			#ddd;

$off_white: 	rgba(255,255,255,.8);
$off_black: 	rgba(0,0,0,.9);

$text_main: 	#222;