/* SOURCE SANS PRO */

@font-face {
    font-family: 'source';
    src: url("/assets/fonts/SourceSansPro-Regular.otf");
}

@font-face {
    font-family: 'source_bold';
    src: url("/assets/fonts/SourceSansPro-Bold.otf");
}

@font-face {
    font-family: 'source_medium';
    src: url("/assets/fonts/SourceSansPro-Semibold.otf");
}

@font-face {
    font-family: 'source_light';
    src: url("/assets/fonts/SourceSansPro-Light.otf");
}

@font-face {
    font-family: 'source_lighter';
    src: url("/assets/fonts/SourceSansPro-ExtraLight.otf");
}

@font-face {
    font-family: 'source_italic';
    src: url("/assets/fonts/SourceSansPro-It.otf");
}

/* UBUNTU */

@font-face {
    font-family: 'ubuntu_bold';
    src: url("/assets/fonts/Ubuntu-B.ttf");
}

@font-face {
    font-family: 'ubuntu_medium';
    src: url("/assets/fonts/Ubuntu-M.ttf");
}

@font-face {
    font-family: 'ubuntu';
    src: url("/assets/fonts/Ubuntu-R.ttf");
}

@font-face {
    font-family: 'ubuntu_italic';
    src: url("/assets/fonts/Ubuntu-RI.ttf");
}