/* Style sheet with the new design for the Journal Skin Creator */

.main_window{
    position: absolute;
    left: 330px;
    top: $nav_height;
    transition: left 0.5s;

    &.wide {
        left: 0px;
    }
    
    .journal_preview{
        margin-bottom: 50px;
    }

    .full-width {
        padding: 30px 50px;
    }

    #imports {
        .import-wrap {
            padding: 20px;
            overflow: auto;
            height: 230px;
            background: $white8;

            .journal-wrap {
                @include align-top;
                width: 150px;
                padding: 10px;
                cursor: pointer;
                &:hover {
                    background: $gray_light;
                }

                .mini-name {
                    margin-top: 10px;
                    text-align: center;
                }
                .mini-box {
                    line-height: 0;
                    width: 100%;
                    .mini-top {
                        height: 30px;
                    }
                    .mini-text {
                        height: 80px;
                        margin: 10px;
                    }
                    .mini-bottom {
                        height: 30px;
                    }
                }
            }
        }
    }
}

.sidebar{
    position: relative;
    width: 330px;
    position:fixed;
    top: $nav_height;
    left:0;
    transition: left 0.5s;

    &.collapsed {
        left: -330px;
    }
    

    #sidebar-tab {
        background: $pink;
        padding: 8px 10px;
        position: absolute;
        right: -30px;
        z-index: 99px;
    }

    .sidebar-inside{
        height:100%;
        overflow:auto;
        background: $pink;
        color: $white8;

        .side_page {
            display: none;
            padding: 20px;


            &.page-show{
                display: block;
            }

            .header{
                margin-bottom: 15px;
                text-align: center;
                @include ubuntu;
            }

            .heading{
                @include ubuntu;
            }

            .color-wrap,
            .styled-select{
                width: 200px;
                margin: 3px 0;
                @include align-middle;
            }

            .right {
                width: 200px;
                @include align-middle;
            }

            .img-row{
                width: 200px;
                margin-left: 88px;

                input{
                    width: 100%;
                }

                .select-wrap .styled-select {
                    width: 97px;
                }
            }

            label{
                color: $white8;
            }

            .sp-replacer {
                padding: 3px 6px;
                background: $white3;
                margin: 3px 6px 3px 0;
            }

        }

        .block{
            padding: 10px 20px;
            position: relative;
            cursor: pointer;
            background: $black1;
            border-bottom: 1px solid $pink;
            @include ubuntu;

            &:hover{
                background: $white4;
            }

            &.selected{
                background: $white3;
                &:after{
                    content:url(../../images/arrow-up.png);
                }
            }

            &:after{
                content:url(../../images/arrow-down.png);
                position:absolute;
                right:10px;
                top:6px;
                opacity:.3;
            }
        }

        .style-wrap{
            display: inline-block;
            .style-buttons {
                cursor: pointer;
                @include align-top;
                background: $white3;
                text-align: center;
                padding: 3px 13.5px;
                &.active {
                    background: $white;
                    color: $pink;
                    &:hover {
                        background: $white;
                    }
                }
                &:hover {
                    background: $white4;
                }
            }
        }

        

        select{
            width: 100%;
        }

        .styled-select, 
        input[type=text],{
            background: $white3;
            color: $white;
            font-family: $font_regular;
            &:focus{
                background: $white4;
            }
        }

        .select-wrap{
            @include align-middle;
            .styled-select{
                width: 99px;
            }
        }

        .color-wrap{
            .sp-replacer{
                padding: 4px 2px 4px 6px;
                background: $white3;
                margin-right: -3px;
            }
            .styled-select, input[type=text] {
                width: 172px;
                @include align-middle;
            }
        }
    }
    
}

.tab_page{
    min-height:250px;
}

.cpage textarea{
    max-height:140px;
    font-family: Courier;
}

.show{
    display:block;
}






.preview_box a{
    color:none!important;
}

.gr-box, .gr-body{
    position:relative;
    overflow:hidden;
}


/* Range */

input[type=range] {
    -webkit-appearance: none;
    /*fix for FF unable to apply focus style bug */
    /*required for proper track sizing in FF*/
    width: 160px;
    display: inline-block;
    background: transparent;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #e66578;
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: $white;
    margin-top: -4px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-moz-range-track {
    width: 300px;
    height: 5px;
    background: #e66578;
    border: none;
    border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: $white;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    width: 300px;
    height: 5px;
    
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;
    
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background: #e97888;
    border-radius: 10px;
}
input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: $white;
}
input[type=range]:focus::-ms-fill-lower {
    background: #888;
}
input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}

.sidebar {
    ::-webkit-input-placeholder {
       color: $white8;
    }
    :-moz-placeholder { /* Firefox 18- */
       color: $white8;  
    }
    ::-moz-placeholder {  /* Firefox 19+ */
       color: $white8;  
    }
    :-ms-input-placeholder {  
       color: $white8;  
    }
}

.slider{
    overflow: hidden;
    width: 290px;

    .reel{
        width: 2000px;
        position: relative;

        .slide{
            width: 290px;
            @include align-top;
        }
    }
}

.mask{
    text-align: center;
    background: $black8;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .popup{
        width: 60%;
        display: inline-block;
        max-width: 600px;
        margin: 0 auto;
        background: $white;
        padding: 40px;
        top: 30%;
        position: relative;
    }
}



