<div ng-repeat="e in [form.text.bg]" ng-include="'app/shared/inputs/image.html'"></div>
<!-- Font -->
<div ng-repeat="e in [form.text.font]" ng-include="'app/shared/inputs/font.html'"></div>
<span ng-repeat="e in [form.text]" ng-include="'app/shared/inputs/line_height.html'"></span>

<!-- Roundness -->
<span ng-repeat="e in [form.text]" ng-include="'app/shared/inputs/roundness.html'"></span>
<span ng-repeat="e in [form.text]" ng-include="'app/shared/inputs/padding.html'"></span>
<span ng-repeat="e in [form.text]" ng-include="'app/shared/inputs/margin.html'"></span>
<span ng-repeat="e in [form.text]" ng-include="'app/shared/inputs/scroll.html'"></span>