<div class="slider" id="slider-bottom">
	<div class="reel">
		<div class="slide">
			<div class="header">Journal Bottom</div>
			<span ng-repeat="e in [form.bottom.bg]" ng-include="'app/shared/inputs/image.html'"></span>
			<div ng-repeat="e in [form.bottom.font]" ng-include="'app/shared/inputs/align.html'"></div>
			<div ng-repeat="e in [form.bottom]" ng-include="'app/shared/inputs/top_bottom.html'"></div>
		</div>

		<div class="slide">
			<div class="header">Comments Link</div>
			<span ng-repeat="e in [form.comments.font]" ng-include="'app/shared/inputs/colorpicker.html'"></span>
			<span ng-repeat="e in [form.comments.font]" ng-include="'app/shared/inputs/font_noalign.html'"></span>
		</div>
	</div>
</div>

<div class="dots" ng-init="dot=0">
	<div class="dot" onclick="slide('slider-bottom', 0)" ng-click="dot=0" ng-class="{'active':dot==0}"></div>
	<div class="dot" onclick="slide('slider-bottom', 1)" ng-click="dot=1" ng-class="{'active':dot==1}"></div>
</div>